a{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border-radius: 90% ;

}

.flex{
    display: flex ;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 12;
}

.square{
    background-color: green;
    border-radius: 0;
    width: 50%;
    margin: 10px;
}

.triangle-down{
    width: 10px;
    height: 10px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px solid red;
    margin: 0px;
    border-radius: 10%;
    align-items:center ;
    background-color: white;
    z-index: 1;
}

.triangle-left {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent; 
    border-right: 100px solid yellow; 
    background-color: white;
    left: 10px;
    z-index: 5;

  }
  
.trapezoid {
    position:absolute;
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 100px;
	width: 300px;
    top: 98em;
}


.dotted-box {
    position: relative;
    z-index: 1;
    border: dotted;
    height: 10em;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  .blue-box {
    position: absolute;
    z-index: 2; 
    background: rgb(13, 203, 240);
    width: 100%;
    height: 14%;
    left: 100px;
    top: 9em;
  }
  .red-box {
    position: absolute;
    z-index: 3; 
    background: rgb(205, 52, 24);
    width: 20%;
    left: 75%;
    top: 399px;
    height: 7em;
    opacity: 0.9;
    border: solid;
    border-width: 60px 20px 54px 1px; 
  }

  .container{
    background-color: rgb(143, 143, 219);
 
  }
  
  .container a {
    width: 300px;
    height: 200px;
    background-color: brown;
    border-radius: 0;

  }